<div class="product_add">
    <div class="row">

        {% for product in products %}

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="{{ product.image.url }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }} руб.</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>

                    <div class="card-footer text-center">
                                                                <a href="{% url 'baskets:basket' product.id %}" class="btn btn-outline-success">Отправить
                                                                    в корзину</a>

{#                        <input type="button" name="{{ product.id }}"#}
{##}
{#                                {% for basket in baskets %}#}
{#                                    {% if product.id == basket.product_id %}#}
{#                               value="Удалить из корзины"#}
{#                               class="btn btn-outline-danger"#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                                {% if not value %}#}
{#                               value="Отправить в корзину"#}
{#                               class="btn btn-outline-success"#}
{#                                {% endif %}>#}


                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>